<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
</startup>
<appSettings>
    <add key="GatekeeperName" value="Brainlab Gatekeeper"/>
    <add key="GatekeeperMode" value="Gatekeeper"/>

    <!-- Proxy settings -->
    <add key="ProxyAddressProtocol" value="http"/>
    <add key="ProxyAddressFqdn" value=""/>
    <add key="ProxyAddressPort" value="8080"/>
    <add key="ProxyAddressExcludes" value="127.0.0.1,localhost,10.*"/>
    <add key="ExternalOcspServerFqdn" value="iep9bs1p7cj3cmit.tl5h1ipgobrdqsj6.v1.p.beameio.net"/>

    <!-- Custom Gatekeeper configuration -->
    <add key="CustomGatekeeper" value="c:\gatekeeper.zip"/>
    <add key="CustomGatekeeperCSS" value="c:\customization.zip"/>
</appSettings>
</configuration>
