<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
</startup>
<appSettings>
    <add key="InstallationFolder" value=""/>
    <add key="InstallServiceAs" value="NetworkService"/> <!-- InstallServiceAs value can be LocalSystem, LocalService, NetworkService, User (current user, requests password) -->
    <add key="RegisterSiteOnFinish" value="https://ypxf72akb6onjvrq.ohkv8odznwh5jpwm.v1.p.beameio.net"/> <!-- RegisterSiteOnFinish value needs to finish with no "/" since it'll be appended with "/gatekeeper" in case of gatekeeper installation. If empty, it'll not open it -->
    <add key="EnableRegistrationTokenRequest" value="true"/> <!-- enables the request of the registration token on the installation. If non interactive, it'll look into the 2nd arg for the token -->
    <add key="DisableInstallDependencies" value="false" /> <!-- disables the installation of dependencies on product installation. Usefull in case of updates when we're sure all dependencies are already installed -->
    
    <!-- Proxy settings -->
    <add key="ProxyAddressProtocol" value="http"/>
    <add key="ProxyAddressFqdn" value=""/>
    <add key="ProxyAddressPort" value="8080"/>
    <add key="ProxyAddressExcludes" value="127.0.0.1,localhost,10.*"/>
    <add key="ExternalOcspServerFqdn" value="iep9bs1p7cj3cmit.tl5h1ipgobrdqsj6.v1.p.beameio.net"/>

    <!-- Gatekeeper Settings -->
    <add key="VersionToInstall" value="latest"/> <!-- npm version for the beame-gatekeeper or beame-sdk. default is latest -->

    <add key="GatekeeperName" value="Beame Gatekeeper"/>
    <add key="GatekeeperMode" value="Gatekeeper"/>
    
    <add key="EncryptUserData" value="true"/>
    <add key="AllowDirectSignin" value="true"/>
    <add key="PublicRegistration" value="false"/>
    <add key="RegistrationImageRequired" value="false"/>
    <add key="AllowSignInWithCreds" value="true"/>
    <add key="AllowSignInWithUltrasound" value="true"/>
    <add key="DisableDemoServers" value="false"/>
    <add key="AdvancedSettingsEnabled" value="false"/>
    <add key="ShowZendeskSupport" value="false"/>

    <!-- Custom Gatekeeper configuration -->
    <add key="CustomGatekeeper" value=""/>
    <add key="CustomGatekeeperCSS" value=""/>
</appSettings>
</configuration>
